/*
this is for using seclearn system.
version: 0.3
author:shimizu ryosuke

last update: 2016/01/19

*/


#blocks_field {border-bottom: 1px solid #d3d3d3;}
  .dragbox {width:90px; height: 90px; margin:10px; border:solid 1px #333; background-color:#e0ffff; float:left; text-align:middle;  z-index:2;}
  .drop {float:left;width: 150px; height: 250px; margin: 10px; border: solid 1px #333; background-color:#cf6; float:left; z-index:1;}
  .drop img{width:120px; height:auto; margin:auto; text-align:center; vertical-align:middle; floating:clear;}
  .arrowbox{float:left;height:auto}
  .arrow {width:150px; height:100px;margin: 10px;  z-index:1; border:2px #333; border-style:dashed; border-radius:5px; text-align:center;}
  .arrow img{max-width:90%}
  .reverse{transform: rotate( 180deg );}
  .alert {display:none;}
  nav {height:3%}
  #container{margin-top:3%; padding-top:1%;}
  .col-md-2 {border-right: 1px solid #d3d3d3; height:100%}
  #main {clear:both;}
  .result-icon{max-width:90%; height:auto;}
  .control {float:left; margin-left:1%; padding-top:1%; border-top:solid 1px #d3d3d3; width:1500px}